<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="style.css" type="text/css" />
  <link rel="stylesheet" href="css/dark.css" type="text/css" />
  <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="css/animate.css" type="text/css" />
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- Document Title
  ============================================= -->
  <title>Landing Page - Style 2 | Canvas</title>

</head>

<body class="stretched">

  <!-- Document Wrapper
  ============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="transparent-header page-section dark">

      <div id="header-wrap">

        <div class="container clearfix">

          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>
            <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
          </div><!-- #logo end -->

          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu">

            <ul class="one-page-menu">
              <li class="current"><a href="#" data-href="#header"><div>Home</div></a></li>
              <li><a href="#" data-href="#section-features"><div>Shippers</div></a></li>
              <li><a href="#" data-href="#section-pricing"><div>Carriers</div></a></li>
              <li><a href="#" data-href="#section-testimonials"><div>Services</div></a></li>
              <li><a href="#" data-href="#section-specs"><div>About Us</div></a></li>
              <li><a href="#" data-href="#section-buy"><div>Login</div></a></li>
              <li><a href="#" data-href="#section-buy"><div>Sign up</div></a></li>
                <!--<li><a href="/signup/"><button class="signup cta-button">Sign up</button></a></li>-->
            </ul>

          </nav><!-- #primary-menu end -->

        </div>

      </div>

    </header><!-- #header end -->

    <section id="slider" class="full-screen" style="background: url(images/landing/static.jpg) center center no-repeat; background-size: cover;height:1000px !important;">

      <div class="">

        <div class="container vertical-middle clearfix">
<link rel='stylesheet' id='cargomatic-style-css'  href='css/style.css?ver=4.3.1' type='text/css' media='all' />
          <!-- End Google Tag Manager -->   
<div id="page" class="site">
      
<div id="signup" class="full-page-form"
     style="background-image:url(images/header-2-528-1.jpg)">
  <form id="form" class="form-container">
    <h2 id="title">Sign Up</h2>
    <p>Select one:</p>
    <div id="select_type" class="radio-group">
      <div class="shipper-container">
                <input id="user-shipper" type="radio" value="shipper" name="userType"
               checked>
        <label class="checked" for="user-shipper">
          <span class="content">I am a Shipper</span>
        </label>
      </div>

      <div class="carrier-container">
                <input id="user-carrier" type="radio" value="carrier" name="userType" 
               >
        <label for="user-carrier">
          <span class="content">I am a Carrier</span>
        </label>
      </div>
    </div>

    <div class="names">
      <div class="form_field first-name">
        <input type="text" name="first_name" id="first_name"
             placeholder="First name" required
             maxlength="40"
             pattern="[a-zA-Z][a-zA-Z0-9\s\&\+\-.,\'\u00E0-\u00FC]*">
        <div class="validation-error">
          Please enter your first name.
        </div>
      </div>

      <div class="form_field last-name">
        <input type="text" name="last_name" id="last_name"i
             placeholder="Last name" required
             maxlength="40"
             pattern="[a-zA-Z][a-zA-Z0-9\s\&\+\-.,\'\u00E0-\u00FC]*">
        <div class="validation-error">
          Please enter your last name.
        </div>
      </div>
    </div>

    <div class="form_field">
      <input type="text" name="company_name" id="company_name"
             placeholder="Company name" required
           maxlength="60"
           pattern="[a-zA-Z][a-zA-Z0-9\s\&\+\-.,\'\u00E0-\u00FC]*">
      <div class="validation-error">
          Please enter your company's name.
      </div>
    </div>

    <div class="form_field phone">
      <input type="text" name="phone" id="phone"
             placeholder="Phone (555 555 5555)" required
             pattern="\(?\d{3}\)?-? *\d{3}-? *\d{4}"
           maxlength="12" >
      <div class="validation-error">
        Please enter a valid US phone number.
      </div>
    </div>

    <div class="form_field">
      <input type="text" name="dot_number" id="dot_number"
             maxlength="20" placeholder="CA/MC number" required>
      <div class="validation-error">
        Please enter your CA/MC number.
      </div>
    </div>

    <div class="form_field">
      <input type="email" name="email" id="email" required
             placeholder="Email address"
           maxlength="40"
             pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]+$">
      <div class="validation-error">
        Please enter a valid email address.
      </div>
    </div>

    <div class="form_field">
      <input type="password" name="password" id="password" required
             placeholder="Password">
      <div class="validation-error">
        Please enter a password.
      </div>
    </div>

    <div class="form_field terms checkbox-container">
      <label for="terms">
        <input type="checkbox" name="terms" id="terms">
        By Signing up I agree to the
        <a href="#">Terms of Service</a>
      </label>
      <div class="validation-error">
        Please accept our terms in order to continue.
      </div>
    </div>

    <div class="form_field" id="submit">
      <input type="submit" value="Submit">
    </div>

    <div class="form-error-message">
    </div>

  </form>

</div><!-- #signup  -->


</div><!-- #page.site  -->


        </div>

      </div>

    </section>

  

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

      <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

          <div class="col_two_third">

            <div class="col_one_third">

              <div class="widget clearfix">

                <img src="images/footer-widget-logo.png" alt="" class="footer-logo">

                <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

                <div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
                  <address>
                    <strong>Headquarters:</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                  </address>
                  <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                  <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                  <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
                </div>

              </div>

            </div>

            <div class="col_one_third">

              <div class="widget widget_links clearfix">

                <h4>Blogroll</h4>

                <ul>
                  <li><a href="http://codex.wordpress.org/">Documentation</a></li>
                  <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                  <li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
                  <li><a href="http://wordpress.org/support/">Support Forums</a></li>
                  <li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
                  <li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
                  <li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
                </ul>

              </div>

            </div>

            <div class="col_one_third col_last">

              <div class="widget clearfix">
                <h4>Recent Posts</h4>

                <div id="post-list-footer">
                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>

                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>

                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col_one_third col_last">

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">

                <div class="col-md-6 bottommargin-sm">
                  <div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                  <h5 class="nobottommargin">Total Downloads</h5>
                </div>

                <div class="col-md-6 bottommargin-sm">
                  <div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                  <h5 class="nobottommargin">Clients</h5>
                </div>

              </div>

            </div>

            <div class="widget subscribe-widget clearfix">
              <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
              <div class="widget-subscribe-form-result"></div>
              <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                <div class="input-group divcenter">
                  <span class="input-group-addon"><i class="icon-email2"></i></span>
                  <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Subscribe</button>
                  </span>
                </div>
              </form>
            </div>

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">

                <div class="col-md-6 clearfix bottommargin-sm">
                  <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
                </div>
                <div class="col-md-6 clearfix">
                  <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                    <i class="icon-rss"></i>
                    <i class="icon-rss"></i>
                  </a>
                  <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
                </div>

              </div>

            </div>

          </div>

        </div><!-- .footer-widgets-wrap end -->

      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="col_half">
            Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
            <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
          </div>

          <div class="col_half col_last tright">
            <div class="fright clearfix">
              <a href="#" class="social-icon si-small si-borderless si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-pinterest">
                <i class="icon-pinterest"></i>
                <i class="icon-pinterest"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-vimeo">
                <i class="icon-vimeo"></i>
                <i class="icon-vimeo"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-github">
                <i class="icon-github"></i>
                <i class="icon-github"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-yahoo">
                <i class="icon-yahoo"></i>
                <i class="icon-yahoo"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>

            <div class="clear"></div>

            <i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
          </div>

        </div>

      </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

  </div><!-- #wrapper end -->

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
  ============================================= -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>

  <!-- Footer Scripts
  ============================================= -->
  <script type="text/javascript" src="js/functions.js"></script>

  <script type="text/javascript">
    $(function() {
      $( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
    });
  </script>

</body>
</html>