<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Welcome</title>

	<style type="text/css">
	body {
	/*background: url("../images/photo_bg.jpg") no-repeat center center fixed;*/
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}

/* Typography */
h1#title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 3.2em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 180px;
	max-width: 300px;
	text-align: center;
	position: relative;
	top: 0px;
}

h1#title span span {
	font-weight: 400;
}
</style>

</head>

<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">Welcome<span>To Truper<span>Carrier</span></span></span></h1>
			<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
		</div>
		
	</div>
</body>



</html>