.col-md-offset-7 {
    margin-left: 27.333%!important;
    margin-top: 51px;
}
.btn-success {
    background-color: #48a2de!important;
}
.panel-heading {
    background-color: #48a2de!important;
}        